*.a
android/prebuilt/skia-android-arm64/
*.o
*.lib
*.obj
*.pdb
*.dll
*.ilk
*.suo
*.exe
*.exe.manifest
*.log
*.res
.DS_Store
.vs
.vscode
tests/_test*
build
build-host-gen
.build
.deps
CMakeSettings.json
